BOT_TOKEN=telegram_bot_tokeningiz
PORT=3001



BOT_USERNAME=bot_nomi
# Bir nechta admin bo'lsa vergul bilan yozing: 123,456
ADMIN_IDS=8591126872

# Masalan: @kanal_username yoki -1001234567890
CHANNEL_ID=@kanal_username

# Kunlik ish to'lovidan olinadigan komissiya foizi
COMMISSION_PERCENT=10

# Ixtiyoriy. Agar webhook ishlatmoqchi bo'lsangiz:
# WEBHOOK_URL=https://domainingiz.uz
